/* Add CSS Styling */
.triple{
    background-color: #db6e6e;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#one {
    color: #0448db;
    font-size: 24px;
}

.triple.double {
    font-size: 24px;
}

#two {
    background-color: #29ff77;
    font-size: 24px;
    font-weight: 600;
}