/* Add CSS Styling */
.first, .second {
    font-size: 28px;
    font-family: Helvetica, Times New Roma, sans-serif;
}

.first {
    color: #ffffff;
    background-color: #000000;
}

.second {
    background-color: #e8d907;
}